@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
   --azul01: #0077a9;
   --azul02: #0086bd;
   --azul03: #36aad6;
   --azul04: #8cc7e5;
   --azul05: #deeff9;
   --branco: #FFFF;
   --preto: #0000;
   --cinza: #7c7c7c;
   --cinza02: #fcfcfc;
}

@media (min-width: 1200px){
    *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    background: linear-gradient(var(--azul02))
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 1.5em;
    margin:  0 170px;
}

.logo-bar{
    display: flex;
    align-items: center;
}

.logo-bar img{
    margin-top: 1px;
    width: 80px;
    height: 80px;
    margin-left: 90%;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}


.nav-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-link{
    color: var(--branco);
    text-decoration: none;
}

.login-button{
    margin-top: -15px;
}

.login-button button{
    border: none;
    background-color: var(--branco);
    padding: 15px 20px;
    border-radius: 40px;
    

}

.login-button button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}


/* CSS - Section 01 - Home */

.section-home{
    background: linear-gradient(var(--azul02),var(--azul03),var(--azul04), var(--branco));
    height: 47rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 0%;
    overflow: hidden;
}

.section-home input{
    display: none;
}

.container-section{
    margin-top: 50%;
    height: 40rem;
    background-color: rgb(255, 232, 236);
    width: 80rem;
    border-radius: 2rem;
    margin:  0 80px 70px;
    margin-top: 5%;
    margin-left: 24%;
    
}

.container-section h1{
    color: black;
    font-size: 2.2rem;
    margin-left: 5%;
    
}
.container-section h2{
    margin-top: 2.5%;
    margin-left: 5%;
    font-weight: 300;
}

#logo-section{
    width: 12rem;
    margin-left: 4%;
    margin-top: 5%;
    
}

#imagem-section{
    margin-top:  -42.1%;
    width: 31rem;
    margin-left: 60%;
}

#button-home{
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    padding: 10px 60px;
    margin-left: 5%;
    margin-top: 3.5%;
    background-color: var(--azul02);
    color: var(--branco);
}

/* Section 02 - Para Você */
.section-clientes{
    height: 50rem;
    padding: 80px 20px;
    margin-top: 3%;
}


.div-title{
    text-align: center;
    margin-bottom: 80px;
}

.div-title h2{
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;;
}

.div-title h1{
    font-size: 2rem;
    font-weight: 600;   
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.div-left{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#title-link{
    font-size: 1.5rem;
     margin-left: 22%;
}

#link-voce{
    color: var(--azul03);
    font-size: 1rem;
    font-weight: 300;
    margin-left: -21%;
}

.div-paravoce h1{ 
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.div-paravoce h2{
    font-size: 1rem;
    font-weight: 300;
    max-width: 350px;
    margin-bottom: 23px;
}

.div-right{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.div-right img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}


/* Section 03 - Clientes 02 */
.section-clientes02{
    height: 52rem;
    padding: 80px 20px;
}

.div-title-e{
    text-align: center;
    margin-bottom: 80px;
}

.div-title-e h2{
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;;
}

.div-title-e h1{
    font-size: 2rem;
    font-weight: 600;   
}

.content-c{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.div-left-c{
    flex: 1;
    display: flex;
    justify-content: center;
}

.div-left-c img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.div-right-c{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.div-paravoce2 h1{ 
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: black;
}

.div-paravoce2 h2{
    font-size: 1rem;
    font-weight: 300;
    max-width: 350px;
    margin-bottom: 23px;
}

/* Section App */


}