@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
   --azul01: #0077a9;
   --azul02: #0086bd;
   --azul03: #36aad6;
   --azul04: #8cc7e5;
   --azul05: #deeff9;
   --branco: #FFFF;
   --preto: #0000;
   --cinza: #7c7c7c;
   --cinza02: #fcfcfc;
}

@media (min-width: 1200px) {
    


/* CSS - MENU */

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    border-bottom: 1px solid var(--cinza02);
    position: relative;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 1.5em;
}

.logo-bar{
    display: flex;
    align-items: center;
}

.logo-bar img{
    margin-top: 1px;
    width: 80px;
    height: 80px;
    margin-left: 90%;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}


.nav-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.login-button{
    margin-top: -15px;
}

.login-empresas{
    color: var(--azul03);
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.15rem;
}

.login-button button{
    border: none;
    background-color: var(--azul01);
    padding: 15px 20px;
    border-radius: 20px;
    

}

.login-button button a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 0.9rem;
}

/* CSS - Section 01 - Home */

.section01-home{
    background-color: var(--branco);
    height: 47rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 3%;
    overflow: hidden;
}

.section01-home input{
    display: none;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
.manual-btn{
    border: 2px solid var(--cinza02);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80%;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--cinza02);
}

#radio1:checked ~ .container-section{
    margin-left: 20%;
}

#radio2:checked ~ .container-section{
    margin-left: -85%;
}

#radio3:checked ~ .container-section{
    margin-left: -180%;
}

.navigation-auto div{
     border: 2px solid var(--branco);
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 31.5%;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: var(--cinza02);
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: var(--cinza02);
}

#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: var(--cinza02);
}




.container-section{
    margin-top: 50%;
    height: 40rem;
    background-color: var(--azul04);
    width: 80rem;
    border-radius: 2rem;
    margin:  0 80px 70px;
    margin-left: 15%;
    background: linear-gradient(var(--azul01),var(--azul02),var(--azul03), var(--azul04));
    
}

.container-section h1{
    color: var(--branco);
    font-size: 2.2rem;
    margin-left: 5%;
    
}
.container-section h2{
    margin-top: 2.5%;
    margin-left: 5%;
    font-weight: 300;
}

#logo-section{
    width: 6rem;
    margin-left: 4%;
    margin-top: 5%;
    
}

#imagem-section{
    margin-top:  -20%;
    width: 40rem;
    margin-left: 50%;
}

#button-home{
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    padding: 10px 60px;
    margin-left: 5%;
    margin-top: 3.5%;
    background-color: var(--branco);
}


#image-cliente{
    margin-top: -22.7%;
    width: 25rem;
    margin-left: 62%;
}

#imagem-empreendedor{
    margin-top: -17.4%;
    width: 50rem;
    margin-left: 47%;
}
/* CSS - Section 02 - Empresas parceiras */

.section02-empresas{
    background-color: var(--azul01);
    height: 8rem;
    text-align: center;
    padding: 40px 0 0px 0;
}

.section02-empresas h1{
    color: var(--branco);
    font-size: 1rem;
    margin-bottom: -10px;
    font-weight: 600;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.logos img{
    height: 7rem;
    transition: .3s;
}

.logos img:hover{
    transform: scale(1.1);
}

#ifood{
    height: 40px;
}

#natura{
    height: 40px;
}

/* CSS - Section 03 - Beneficios Aurora Bank */

#title-section03{
    margin-top: 5.5rem;
    margin-left: 3%;
    font-size: 1.8rem;
}


.section03-para-você{
    height: 24rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;

}

.cards-beneficios{
    flex: 1 1 100px;
    margin: 10px;
    border: 1px solid var(--cinza);
    height: 10rem;
    width: 3rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.cards-beneficios h2{
    line-height: 1.9rem;
}


#title-beneficios{
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.1rem;
}

#descricao{
    font-weight: 400;
    font-size: 1rem;
}

#image-section{
    width: 2.2rem;
}

#seta-section{
    width: 2,1rem;
    margin-top: 5%;
    margin-left: 90%;
    cursor: pointer;
} 


/* CSS - Section 04 - Dia a Dia */

.section04-dia-a-dia{
    height: 50rem;
    padding: 80px 20px;
}


.div-title{
    text-align: center;
    margin-bottom: 80px;
}

.div-title h2{
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;;
}

.div-title h1{
    font-size: 2rem;
    font-weight: 600;   
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.div-left{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.div-dia h1{ 
    font-size: 2rem;
    margin-bottom: 8px;
}

.div-dia h2{
    font-size: 1rem;
    font-weight: 300;
    max-width: 350px;
    margin-bottom: 23px;
}

.div-right{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.div-right img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}



/* CSS - Section - Empreendedor */
.section05-empreendedor{
    height: 52rem;
    padding: 80px 20px;
}

.div-title-e{
    text-align: center;
    margin-bottom: 80px;
}

.div-title-e h2{
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;;
}

.div-title-e h1{
    font-size: 2rem;
    font-weight: 600;   
}

.content-e{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.div-left-e{
    flex: 1;
    display: flex;
    justify-content: center;
}

.div-left-e img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.div-right-e{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.div-empreendedor h1{ 
    font-size: 2rem;
    margin-bottom: 8px;
    color: var(--azul01);
}

.div-empreendedor h2{
    font-size: 1rem;
    font-weight: 300;
    max-width: 350px;
    margin-bottom: 23px;
}



/* CSS - Section - Avaliações */

.section-avaliacoes {
    background: var(--azul01);
    padding: 60px 80px;
    color: var(--branco);
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.header-area h2 {
    font-size: 28px;
    font-weight: 700;
}

.avaliacoes-arrows {
    display: flex;
    gap: 12px;
}

.arrow {
    background: transparent;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img {
    width: 20px;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    background: var(--branco);
    width: 360px;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    color: #000;
    transition: transform 0.3ms ease, box-shadow 0.3s ease;
}

.card.hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px var(--cinza);
}

.topo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.user {
    font-size: 15px;
    font-weight: 600;
}

.local {
    font-size: 13px;
    color: #777;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    gap: 4px;
}

.stars img {
    width: 18px;
    height: 18px;
}

/*CSS - Section - Segurança */
.section06-seguranca{
    height: 43rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}

#title-section06{
    margin-top: 5.5rem;
    margin-left: 8%;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.container-seguranca{
    max-width: 1400px;
    margin: 0 auto;

}

.content-seguranca{
    display: flex;
    align-items: center;
    gap: 60px;
}

.div-left-seguranca{
    flex: 1;
}

.div-left-seguranca img{
    width: 40rem;
    object-fit: cover;
}

.div-right-seguranca{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.cards-seguranca{
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--cinza);
    transition: 0.3s;
}

.cards-seguranca img{
    width: 2rem;
    margin-bottom: 15px;
}

.cards-seguranca h1{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.cards-seguranca h2{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

/* CSS - App Aurora */
.section07-app-aurora{
    height: 97rem;
}

.section07-app-aurora img{
      margin-left: 30%;
      margin-top: -5%;
}

.app-frase{
    text-align: center;
}

.app-frase h1{
    font-size: 3rem;
    line-height: 1.7;
}

.app-frase h2{
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 4.5;
}

.app-frase h3{
    font-size: 2.2rem;
    line-height: 2;
    color: var(--azul02);
}



.app-frase button{
    margin-top: 3%;
    padding: 10px;
    width: 20rem;
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    color: var(--branco);
    background-color: var(--azul01);
    cursor: pointer;
}
/* CSS - Rodapé */

.footer {
    background: #000;
    padding: 60px 6%;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-cool {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.footer-cool h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-cool a {
    color: #d1d1d1;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 15px;
    transition: .3s;
    display: inline-block;
}

.footer-cool a:hover {
    color: #fff;
}

.footer-cool p {
    margin: 3px 0;
    color: #ddd;
}

.footer-cool span {
    font-size: 14px;
    color: #aaa;
}

.footer-cool .mt {
    margin-top: 20px;
}

/* Ícones sociais */
.footer-social {
    margin-top: 17%;
    display: flex;
    gap: 18px;
    margin-left: 2%;
}

.footer-social img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: .3s;
}

.footer-social img:hover {
    opacity: 0.7;
}

}