@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --azul01: #0077a9;
   --azul02: #0086bd;
   --azul03: #36aad6;
   --azul04: #8cc7e5;
   --azul05: #deeff9;
   --branco: #FFFF;
   --preto: #0000;
   --cinza: #7c7c7c;
   --cinza02: #fcfcfc;
}

/* CSS - MENU */

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    border-bottom: 1px solid var(--cinza02);
    position: relative;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 1.5em;
}

.logo-bar{
    display: flex;
    align-items: center;
}

.logo-bar img{
    margin-top: 1px;
    width: 80px;
    height: 80px;
    margin-left: 90%;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}


.nav-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.login-button{
    margin-top: -15px;
}

.login-empresas{
    color: var(--azul03);
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.15rem;
}

.login-button button{
    border: none;
    background-color: var(--azul01);
    padding: 15px 20px;
    border-radius: 20px;
    

}

.login-button button a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 0.9rem;
}

/* CSS - Section 01 - Home */

.section01-home{
    background-color: var(--azul05);
    height: 52rem;
}

.section01-home h1{
    color: var(--azul02);
    font-size: 2.2rem;
    margin-left: 5%;
    
}

.section01-home h2{
    margin-top: 2.5%;
    margin-left: 5%;
    font-weight: 300;
}

#logo-section{
    width: 6rem;
    margin-left: 4%;
    margin-top: 5%;
    
}

#imagem-section{
    margin-top:  -15.7%;
    width: 52rem;
    margin-left: 50%;
}

#button-home{
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    padding: 10px 60px;
    margin-left: 5%;
    margin-top: 3.5%;
    background-color: var(--branco);
   
}

/* CSS - Section 02 - Empresas parceiras */

.section02-empresas{
    background-color: var(--azul01);
    height: 8rem;
    text-align: center;
    padding: 40px 0 0px 0;
}

.section02-empresas h1{
    color: var(--branco);
    font-size: 1rem;
    margin-bottom: -10px;
    font-weight: 600;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.logos img{
    height: 7rem;
    transition: .3s;
}

.logos img:hover{
    transform: scale(1.1);
}

#ifood{
    height: 40px;
}

#natura{
    height: 40px;
}

/* CSS - Section 03 - Beneficios Aurora Bank */

#title-section03{
    margin-top: 5.5rem;
    margin-left: 3%;
    font-size: 1.8rem;
}


.section03-para-você{
    height: 28rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;

}

.cards-beneficios{
    flex: 1 1 100px;
    margin: 10px;
    border: 1px solid var(--cinza);
    height: 10rem;
    width: 3rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.cards-beneficios h2{
    line-height: 1.9rem;
}


#title-beneficios{
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.1rem;
}

#descricao{
    font-weight: 400;
    font-size: 1rem;
}

#image-section{
    width: 2.2rem;
}

#seta-section{
    width: 2,1rem;
    margin-top: 5%;
    margin-left: 90%;
    cursor: pointer;
} 


/* CSS - Section 04 - Dia a Dia */

#h1-section04{
    text-align: center;
    padding: 0.5em;
}

.section04-dia-a-dia{
     height: 31rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}


.container-section04{
    flex: 1 1 50px;
    margin: 10px;
    border: 1px solid var(--cinza);
    height: 22rem;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: var(--branco);
}

.container-section04 img{
    width: 25rem;
    margin-left: 10%;
}

.container-section04 h2{
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 5%;

}

.container-section04 span{
    font-weight: 700;
}

/* CSS - Section - Avaliações */

.section-avaliacoes {
    background: var(--azul01);
    padding: 60px 80px;
    color: var(--branco);
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-area h2 {
    font-size: 28px;
    font-weight: 700;
}

.avaliacoes-arrows {
    display: flex;
    gap: 12px;
}

.arrow {
    background: transparent;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img {
    width: 20px;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    background: var(--branco);
    width: 360px;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    color: #000;
    transition: transform 0.3ms ease, box-shadow 0.3s ease;
}

.card.hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px var(--cinza);
}

.topo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.user {
    font-size: 15px;
    font-weight: 600;
}

.local {
    font-size: 13px;
    color: #777;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.stars {
    display: flex;
    gap: 4px;
}

.stars img {
    width: 18px;
    height: 18px;
}

/* CSS - Rodapé */

.footer {
    background: #000;
    padding: 60px 6%;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-cool {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.footer-cool h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-cool a {
    color: #d1d1d1;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 15px;
    transition: .3s;
    display: inline-block;
}

.footer-cool a:hover {
    color: #fff;
}

.footer-cool p {
    margin: 3px 0;
    color: #ddd;
}

.footer-cool span {
    font-size: 14px;
    color: #aaa;
}

.footer-cool .mt {
    margin-top: 20px;
}

/* Ícones sociais */
.footer-social {
    margin-top: 17%;
    display: flex;
    gap: 18px;
    margin-left: 2%;
}

.footer-social img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: .3s;
}

.footer-social img:hover {
    opacity: 0.7;
}

