@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --azul01: #0077a9;
   --azul02: #0086bd;
   --azul03: #36aad6;
   --azul04: #8cc7e5;
   --azul05: #deeff9;
   --branco: #FFFF;
   --preto: #0000;
   --cinza: #7c7c7c;
   --cinza02: #fcfcfc;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    border-bottom: 1px solid var(--cinza02);
    position: relative;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 0.6rem;
}

.logo-bar{
    display: flex;
    align-items: center;
}

.logo-bar img{
    margin-top: 1px;
    width: 150px;
    height: 150px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}


.nav-item{
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--preto);
    font-weight: 400;
}

.login-button{
    margin-top: -15px;
}

.login-empresas{
    color: var(--azul03);
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.15rem;
}

.login-button button{
    border: none;
    background-color: var(--azul01);
    padding: 10px 15px;
    border-radius: 20px;

}

.login-button button a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 0.7rem;
}

.section01-home{
    background-color: var(--azul05);
    height: 37rem;
}

.section01-home h1{
    color: var(--azul02);
    font-size: 2.2rem;
    margin-left: 5%;
    
}

.section01-home h2{
    margin-top: 2.5%;
    margin-left: 5%;
    font-weight: 300;
}

#logo-section{
    width: 6rem;
    margin-left: 4%;
    margin-top: 5%;
    
}

#imagem-section{
    margin-top:  -22.9%;
    width: 38rem;
    margin-left: 58%;
}

#button-home{
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    padding: 10px 60px;
    margin-left: 5%;
    margin-top: 3.5%;
    background-color: var(--branco);
   
}

.section02-empresas{
    background-color: var(--azul01);
    height: 8rem;
    text-align: center;
    padding: 40px 0 0px 0;
}

.section02-empresas h1{
    color: var(--branco);
    font-size: 1rem;
    margin-bottom: -10px;
    font-weight: 600;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.logos img{
    height: 7rem;
    transition: .3s;
}

.logos img:hover{
    transform: scale(1.1);
}

#ifood{
    height: 40px;
}

#natura{
    height: 40px;
}

.image-div{
    background-color: var(--azul01);
    width: 22rem;
    height: 30rem;
    margin-top: 6%;
    margin-left: 16%;
    border-radius: 4rem;
}

.image-div img{
    width: 48rem;
    margin-left: -57%;
    margin-top: -10%;
}

#logo01{
    width: 10rem;
    margin-left: 45%;
}

.div-right{
    margin-top: -27%;
}

.div-right h1{
    font-size: 1.7rem;
    margin-left: 47%;
    margin-top: -3%;
    font-weight: 600;
}

.div-right p{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--cinza);
    margin-left: 47%;
    margin-top: 0.5%;
}

.div-right2{
     margin-left: 47%;
}

.div-right2 h2{
    font-size: 1rem;
    font-weight: 400;
    margin:  2.5rem 2rem 2rem 0;
}


.div-right2 span{
    font-weight: 600;
}

.div-texto{
    margin-top: 5%;
}

.section-appaurora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    
}

.div-texto {
    width: 50%;                
}

.div-texto h1 {
    font-size: 32px;
    font-weight: 700;
    color: preto;
    line-height: 1.3;
    margin-top: 10%;
}

.div-texto h2 {
    margin-top: 25px;
    font-size: 18px;
    color: preto;
    line-height: 1.6;
    font-weight: 300;
}

.div-texto span {
    font-weight: 700;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 16px 28px;
    background: var(--azul04);
    color: preto;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background: var(--azul03);
}


.image-app {
    width: 40%;
    display: flex;
    justify-content: center;   
    gap: 20px;
    margin-top: 10%;
}

.image-app img {
    width: 30rem;              
    filter: grayscale(100%) opacity(0.9);
}

.section-auroraempresas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    background-color: var(--cinza02);
    height: 27rem;
}

.div-left img{
    width: 500px;
    border-radius: 18px;
    object-fit: cover;
    margin-top: 20%;
}

.div-right-empresas{
    width: 50%;
    padding-left: 50px;
}

.logo-empresas{
    width: 200px;
    margin-bottom: 5px;
    margin-left: -5%;
    
}

.div-right-empresas h1{
    font-size: 32px;
    color: preto;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: -7%;
}

.div-right-empresas h2{
    font-size: 18px;
    color: preto;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 25px;
}

.div-right-empresas span{
     font-weight: 600;
     color: preto;
}

.container-vantagens{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.div-vantagens{
    background: var(--branco);
    padding: 20px;
    border-radius: 15px;
    width: 170px;
    text-align: center;
    box-shadow: 0 2px 6px var(--cinza02);
}

.div-vantagens img{
    width: 35px;
    margin-bottom: 10px;
}

.div-vantagens h1{
    font-size: 16px;
    font-weight: 600;
    color: var(--azul02);
    margin-top: 5%;
}

.button-empresas{
    padding: 14px 35px;
    background: var(--azul02);
    color: var(--branco);
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 35%;
}

.button-empresas:hover{
    background: var(--azul03);
}

